*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 5rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}