@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Manrope', sans-serif;
    display:flex;
    flex-direction: column;
    margin:50px;
    align-items: center;
}

header{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.videos-list{
    display: flex;
    margin-top: 60px;
    gap:100px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


.video-title{
    color: white;
}

h2{
    color: white;
}